<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrashMap | Opportunities</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/opportunity.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<style type="text/css">
    .wrapper {
        text-align: center;
    }
    .wrapper ul {
        display: inline-block;
        text-align: left;
    }
    .Modal {
        display: inline-block;
        text-align: left;
    }
</style>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/trash_map" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/trashmapproject/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          <!--<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>-->
          <a href="https://medium.com/@trashmapproject" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<img src="img/onlinelogomaker-061319-1342-8071-2000-transparent.png">-->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>TRASHMAP</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#services">Opportunity</a></li>
          <li><a href="#jd">Job Description</a></li>
          <li><a href="#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>TrashMap - Mapping<br>India's Bins</h2>
          <h4>The TrashMap project aims at mapping all dustbins and waste management centres in the country</h4>
          <!--<div>
            <a href="#" class="btn-get-started scrollto">Launch Map (Coming Soon!!!)</a>
          </div>-->
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/onlinelogomaker-061319-1342-8071-2000-transparent.png" width="1000" height="1000" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
    <!--==========================
      Opportunity Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Opportunities Claimable</h3>
          <p>"A pessimist sees the difficulty in every opportunity; An optimist sees the opportunity in every difficulty"</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #89eb8a;"><i class="ion-android-calendar" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Benefits</a></h4>
              <p class="description">We like to stay on the forefront of innovation. Working with us exposes you to some of the best technologies in the industry and work with customers that are driving the next phase of evolution</p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-code-working" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Work Culture</a></h4>
              <p class="description">Our culture is the foundation of our success and it is completely people oriented, touching lives and making a difference to employees, customers and partners alike</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-infinite" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Infinite Opportunities</a></h4>
              <p class="description">All applicants are considered as equal and employable solely based on their qualifications and competencies</p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-android-cloud-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Technology</a></h4>
              <p class="description">The evolution of technology is beneficial to humans at muliple levels for fresh opportunities.</p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-stats-bars" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Marketing</a></h4>
              <p class="description">It's the business process of creating relationships with and satisfying customers.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"> <i class="ion-android-happy" style="color: #2282ff;"></i> </div>
              <h4 class="title"><a href="">Fun</a></h4>
              <p class="description">Work Hard and have fun. Birthday parties, team outings, success celebrations. We are high on spirit more often than not</p>
            </div>
          </div>
        
        </div>

      </div>

      <hr class="divider my-4">

      <header class="section-header"><br>
          <h3>Project Eligibility</h3>
          <div class="wrapper">
              <ul>
                  <li>Strong Programming Background</li>
                  <li>UG/PG students, recent graduates or working professionals</li>
                  <li>Individuals who inspire others and take impactful innovative paths</li><br>
              </ul><br> 
          </div>
      </header>

      <hr class="divider my-4">

      <header class="section-header"><br>
          <h3>Qualification</h3>
          <div class="wrapper">
              <ul>
                  <li>B.E/B.Tech in CSE, ISE and ECE with very good communication skills</li>
                  <li>Strong Techno-Commercial person with understanding not only of programming but also of marketing</li>
                  <li>Should be Self-Driven & Motivated person with Can Do Attitude</li><br>
              </ul><br> 
          </div>
      </header>

      <hr class="divider my-4">

      <header class="section-header"><br>
          <h3>Responsibilities</h3>
          <div class="wrapper">
              <ul>
                  <li>Strong relationship building skills to do the work quick and efficiently.</li>
                  <li>Ability to take self-initiatives and be proactive.</li>
                  <li>Ability to handle multiple tasks/responsibilities without compromising quality of work.</li>
                  <li>Strong sense of urgency & efficiency in meeting stringent deadlines.</li>
                  <li>Determining winning strategies by applying innovative ideas and efficiently applying it into better functioning of project.</li>
                  <li>Believe in being creative & innovative so that I can add value to the assigned work.</li>
                  <li>Ability to interact in professional values & being reliable with all levels within and outside the company.</li>
                  <li>Ability to grasp project knowledge/technology promptly with approach to accept challenges in bad conditions.</li>
                  <li>Always having approach to resolve/solute the problem for enhancing project's efficiency.</li>
                  <li>Ability to work in team & build up brand recognition.</li><br>
              </ul><br>
          </div>
      </header>

      <hr class="divider my-4">

      <header class="section-header"><br>
          <h3>What's After Project Completion</h3>
          <div class="wrapper">
              <ul>
                  <li>Continue contributing on the project you were associated for furthur improvements</li>
                  <li>Mentor new contributors</li>
                  <li>Start your own social impact open source projects</li>
                  <li>Help grow the community around the projects</li><br>
              </ul><br>
          </div>
      </header>

      <hr class="divider my-4">

    </section><!-- #services -->

    <section id="jd" class="section-bg">
        <header class="section-header"><br>
          <h3>Job Openings</h3>
          <div class="wrapper">
              <ul>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Volunteer</button>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Full Stack Development</button>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">Graphics Designer</button>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">MapBox Developer</button>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5">Marketing</button>
              </ul><br><br>
          </div>

          <!-- Modal -->
<div class="Modal">
    <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Volunteer</h4>
        </div>
        <div class="modal-body">
          <li>Advertising volunteer opportunities.</li>
          <li>Having a through knowledge of the technology being used.</li>
          <li>Coordinating and supporting the work of employees.</li>
          <li>Organising/undertaking publicity tasks aimed at attracting new volunteers.</li>
          <li>Helping with fundraising activities.</li>
          <li>Producing advertising/publicity materials.</li>
          <li>Helping to increase the number of volunteer opportunities within the organisation.</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Full Stack Development</h4>
        </div>
        <div class="modal-body">
          <li>Design overall architecture of the web application.</li>
          <li>Maintain websites, databases, it's quality and ensure responsiveness of applications.</li>
          <li>Collaborate with the rest of the engineering team to design and launch new features.</li>
          <li>Maintain code integrity and organization.</li>
          <li>Understanding and implementation of security and data protection.</li>
          <li>Highly experienced with back-end programming languages {{Ex: PHP, Python, Ruby, Java, .NET, JavaScript, etc}}</li>
          <li>Proficient experience using {{Ex: advanced JavaScript libraries and frameworks such as AngularJS, NodeJS, ReactJS, etc.}}.</li>
          <li>Development experience for both mobile and desktop.</li>
          <li>Understanding of server-side languages including {{such-as Jade, EJS, Jinja, etc.}}.</li>
          <li>Experience with cloud message APIs and usage of push notifications.</li>
          <li>Knowledge of code versioning tools {{such as Git, Mercurial or SVN}}.</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Graphics Designer</h4>
        </div>
        <div class="modal-body">
          <li>Prepares work to be accomplished by gathering information and materials.</li>
          <li>Plans concept by studying information and materials.</li>
          <li>Experience working with graphic designers and converting designs to visual elements.</li>
          <li>Illustrates concept by designing rough layout of art and copy regarding arrangement, size, type size and style, and related aesthetic concepts.</li>
          <li>Obtains approval of concept by submitting rough layout for approval.</li>
          <li>Prepares finished copy and art by operating typesetting, printing, and similar equipment; purchasing from vendors.</li>
          <li>Prepares final layout by marking and pasting up finished copy and art.</li>
          <li>Ensures operation of equipment by completing preventive maintenance requirements; following manufacturer's instructions; troubleshooting malfunctions; calling for repairs; maintaining equipment inventories; evaluating new equipment.</li>
          <li>Completes projects by coordinating with outside agencies, art services, printers, etc.</li>
          <li>Maintains technical knowledge by attending design workshops; reviewing professional publications; participating in professional societies.</li>
          <li>Contributes to team effort by accomplishing related results as needed.</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">MapBox Developer</h4>
        </div>
        <div class="modal-body">
          <li>Experience developing a site with a static generator (such as Jekyll, Hugo, Gatsby) and/or experience with a content management system (such as WordPress, Drupal).</li>
          <li>Experience with a headless content management system (such as Contentful) is a plus.</li>
          <li>Experience with search engine optimization (SEO) and landing page optimization and testing a plus.</li>
          <li>Strong focus on clean, accessible code that aligns with web and security standards, and on building high-quality user experience.</li>
          <li>Ability to work autonomously on high-impact projects, while keeping cross-functional stakeholders informed at key decision points.</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Marketing</h4>
        </div>
        <div class="modal-body">
          <li>Overseeing and developing marketing campaigns.</li>
          <li>Devising and presenting ideas and strategies.</li>
          <li>Promotional activities.</li>
          <li>Writing and proofreading creative copy.</li>
          <li>Organising events and product exhibitions.</li>
          <li>Coordinating internal marketing and an Organisation’s culture.</li>
          <li>Monitoring performance.</li>
          <li>Managing campaigns on social media..</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
      </header>

      <hr class="divider my-4">        
    
    </section>

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>TrashMap</h3>
                    <p>Trash Map is an open source project which can be used to map all the dustbins in your locality, neighborhood and report to relevant authorities.<br>
                    The website gives you an environment to view the nearby bins and also to add images of the bins, if newly installed.<br>
                    It will be updates into the maps with few of it's descriptions and will be locatable by other users.
                    Location of dustbins are connected with map.<br>
                    Report the trash or dumps on Trash Map Website.<br>
                    It's a user-friendly website, easy to use which gives all the feasibility structure to people using the website.
                    </p>
                  </div>

                  <!--<div class="footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                  </div>-->

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="/team" target="_blank">Team</a></li>
                      <li><a href="#services">Opportunities</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      Opencube Labs <br>  
                      8th Cross Rd, Bhuvaneswari Nagar <br>
                      Dasarahalli, Bangalore - 560092<br>
                      INDIA <br>
                      <strong>Phone:</strong> +91 85532 36639<br>
                      <strong>Email:</strong> suraj@ocl.space<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/trash_map" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/trashmapproject/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <!--<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
                    <a href="https://medium.com/@trashmapproject" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Send us a message</h4>
              <p>U can contact us by just sending us a message and we will get back to u as soon as possible</p>
              <form action="/message" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="mesg" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <!--
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  -->
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>